<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.paddock.adp.mCubed.tests"
          android:versionCode="1"
          android:versionName="@string/app_version">
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8" />
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <uses-library android:name="android.test.runner" />
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of dev.paddock.adp.mCubed.  To run the tests use the command:
    "adb shell am instrument -w dev.paddock.adp.mCubed.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="dev.paddock.adp.mCubed"
                     android:label="Tests for dev.paddock.adp.mCubed" />
</manifest>
